@import "src/sass/abstract/mixin";
@import "src/sass/abstract/variable";
.childrenBodyTask{
  display: flex;
  flex-direction: column;
  width: 86.9vw;
  height: 100vh;
  overflow: hidden;
  &.active{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: 5s all ease-in;
  }
  @include respond(phone)
  {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
