.containerListBoard{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../asset/tree.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  overflow-x: scroll !important;
  &::-webkit-scrollbar {
    width: 50px;
    height: 12px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;

    &:hover {
      background: grey;
    }
  }
  .itemget--task{
    margin: 15px 20px;
    width: 300px;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    background: hsla(0,0%,100%,.24);
    &__span{
      margin: 15px;
      width: 100vw;
      height: 90%;
      font-size: 17px;
      font-family: inherit;
    }
    &__AddTask{
      width: 100%;
      height: 30px;
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
    }
    &__input{
      margin: 15px;
      width: 260px;
      height: 30px;
      font-size: 17px;
      font-family: inherit;
      border-radius: 5px;
      outline: none;
      border: none;
    }
  }
    .itemadd-task{
      margin: 15px 20px;
      width: 300px;
      height: 90px;
      background: hsla(0,0%,100%,.24);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      input{
        margin: 5px;
        width: 90%;
        height: 30px;
        outline: none;
        border: 2px solid #0079bf;
        border-radius: 4px;
      }
      &__span{
        margin: 5px;
        width: 100px;
        height: 100%;
        font-size: 14px;
        font-family: inherit;
      }
      button {
        margin: 5px;
        color: #FFFFFF;
        background: #0079bf;
        border: none;
        box-shadow: none;
        width: 130px;
        height: 32px;
        border-radius: 3px;
        cursor: pointer;
      }
      span{
        color: white;
        border: 1px solid #0079bf;
        width: 100%;
        border-radius: 3px;
        font-size: 20px;
      }
    }
}
