@import "src/sass/abstract/variable";
@import "src/sass/abstract/mixin";
.containerNavigation{
  width: 13vw;
  height: 100vh;
  background: linear-gradient($navHeaderA,$navHeaderB);
  display: $flex;
  flex-direction: column;
  @include respond(phone)
  {
    display: none;
  }
  &.actives{
    transition: 5s all ease-in;
    width: 0vw;
    display: none;
  }
  .item-header{
    width: 100%;
    height: 70px;
    background-color: #65dfc9;
    display: $flex;
    flex-direction: row;
    &__logo{
      flex: 1;
      h3{
        cursor: pointer;
        margin-left: 1.5rem;
      }
    }
    &__icon{
      display: $flex;
      justify-content: flex-end;
      align-items: center;
      &--Menu{
        cursor: pointer;
        margin-right: 1.5rem;
      }
    }
  }
  .item-body{
      width: 100%;
      height: 260px;
      //background-color: #FFFFFF;
      display: $flex;
      flex-direction: column;
      &__navigation{
        width: 100%;
        height: 40px;
        display: $flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        list-style: none;
        &--MenuBar{
          margin-left: 1.5rem;
          display: flex;
          justify-content: space-evenly;
          .iconTopbar{
            color: #282c34;
          }
          .NameTopbar{
            margin-left: 10px;
            color: #282c34;
          }
        }
      }
  }
}
