.containerNavBody{
  width: 100%;
  height: 70px;
  border: 1px solid #DFE1E6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .itemNavbody-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    &--avatar{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 70px;
      .itemNavbody-left--personal{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: orange;
        cursor: pointer;
      }
    }
    &--controlTask{
      display: flex;
      width: 270px;
      height: 70px;
      //background-color: #61BD4F;
      flex-direction: column;
      .itemNavbody-left--mytask{
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .itemNavbody-left--menu{
        width: 100%;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        ul{
          list-style-type: none;
          display: flex;
          margin-left: -45px;
        }
        .itemNavbody-left--menuli{
          cursor: pointer;
          margin: 0 10px;
        }
      }
    }
  }
  .itemNavbody-right{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 500px;
    height: 70px;
    //background-color: orange;
    &--one{
      width: 80px;
      height: 70px;
      //background-color: #6cdbeb;
      display: flex;
      justify-content: center;
      align-items: center;
      .itemNavbody-right--personal{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: orange;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        span{

        }
      }
    }
  }
}
