.containerLogout {
  position: absolute;
  top: 8%;
  left: 80.2%;
  background-color: #DFE1E6;
  border: 1px solid #DFE1E6;
  width: 300px;
  height: 350px;
}
@media only screen and (max-width: 1366px) {
  .containerLogout {
    position: fixed;
    top: 75px;
    background-color: #DFE1E6;
    border: 1px solid #DFE1E6;
    width: 270px;
    height: 300px;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 1920px) {
  .containerLogout {
    position: fixed;
    top: 75px;
    //margin-left: 100px;
    background-color: #DFE1E6;
    border: 1px solid #DFE1E6;
    width: 270px;
    height: 300px;
    border-radius: 3px;
  }
}
