.containerSignup{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../../asset/photo-1437482078695-73f5ca6c96e2.jpg");
  background-size: cover;
  align-items: center;
  .item-form{
    width: 400px;
    height: 700px;
    background-color: #65dfc9;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  @media (max-width: 1366px) {
    .item-form{
      width: 400px;
      height: 700px;
      background-color: #65dfc9;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 1920px) {
    .item-form{
      width: 400px;
      height: 700px;
      background-color: #65dfc9;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
    }
  }
  .item-UseNameValue{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    input{
      width: 90%;
      height: 35px;
      border-radius: 3px;
      border: none;
      outline: none;
    }
  }
  .item-NameValue{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    input{
      width: 90%;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 3px;
    }
  }
  .item-PasswordValue{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    input{
      width: 90%;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 3px;
    }
  }
  .item-button{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    button{
      width: 90%;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
